In [1]:
import pandas as pd
!type 6장실습.csv

癤우���뿭蹂� 媛��쟾 �옱怨좊웾 議곗궗,,,,,,,,,,
吏��뿭,吏��뿭.1,�꽌�슱,�꽌�슱.1,�꽌�슱.2,寃쎄린,寃쎄린.1,寃쎄린.2,媛뺤썝,媛뺤썝.1,媛뺤썝.2
吏��젏,吏��젏,A,B,C,A,B,C,A,B,C
而댄벂�꽣,�끂�듃遺�,1000,1109,1290,1284,1938,948,892,948,876
而댄벂�꽣,�뜲�뒪�겕�깙,1500,1390,1840,1010,1290,1028,839,893,819
媛��쟾,TV,2001,2019,1839,1028,1039,1948,980,899,897
媛��쟾,�깋�옣怨�,1111,1938,1993,1932,1827,1173,1827,1172,1100
紐⑤컮�씪,�빖�뱶�룿,5000,5827,9481,8493,8732,8193,7371,7491,8749
紐⑤컮�씪,�깭釉붾┸,2019,1290,1928,2928,1928,1928,1918,900,899
�늻怨� ,�늻怨� ,12631,13573,18371,16675,16754,15218,13827,12303,13340
遺�議�,遺�議�,�깋�옣怨� ,�뾾�쓬,�뾾�쓬,�뾾�쓬,�뾾�쓬,�뾾�쓬,�끂�듃遺�,�뜲�뒪�겕�깙,TV

In [2]:
import chardet
import pandas as pd
filename = "6장실습.csv"
with open(filename, 'rb') as f:
    result = chardet.detect(f.readline())  # or read() if the file is small.
    print(result['encoding'])

UTF-8-SIG

In [23]:
#1
data = pd.read_csv('6장실습.csv', header = 1, encoding='UTF-8-SIG') #맨 위 없애기 : header 속성 이용

#2 
data = data.drop(['지역'], axis = 1)
data = data.drop(['지역.1'], axis = 1)

#3
data = data.drop([7], axis = 0)
data = data.drop([8], axis = 0)
data

#4
data.to_csv("6장결과_OUT.csv")

## 1. 첫번째 행을 지우고 그 내용을 출력하시오.

## 2. 지역 column을 지우고 출력하시오

## 3. 마지막 2줄은 내용과 관련이 없어 지우고 출력하시오.

## 4. 최종 결과를 '6장결과_OUT.csv' 파일로 출력하시오.

In [26]:
data2 = pd.read_csv('6장결과_OUT.csv', encoding='UTF-8-SIG') 
data2

   Unnamed: 0    서울  서울.1  서울.2    경기  경기.1  경기.2    강원  강원.1  강원.2
0           0     A     B     C     A     B     C     A     B     C
1           1  1000  1109  1290  1284  1938   948   892   948   876
2           2  1500  1390  1840  1010  1290  1028   839   893   819
3           3  2001  2019  1839  1028  1039  1948   980   899   897
4           4  1111  1938  1993  1932  1827  1173  1827  1172  1100
5           5  5000  5827  9481  8493  8732  8193  7371  7491  8749
6           6  2019  1290  1928  2928  1928  1928  1918   900   899